@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
/*	background: #000;*/
	background-color: #323232;
	font-family: Raleway, sans-serif;
	color: white;
/*	height: 6000px;*/
	color: white;
	min-height: 100vh;
}

.background{
	animation: kenny 60s linear infinite;
	-webkit-animation-direction: alternate-reverse;
	background-image: url('https://wallpapercave.com/wp/wp2711142.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	inset: 0;
	position: absolute;
	opacity: 0.5;
	overflow: hidden;
	scale: 2;
	z-index:-1;
}

@keyframes kenny {
	100% {
		opacity: 0.4;
		scale: 1;
	}
}

.full-height-grow {
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

.main-head{
	display: flex;
/*	display: block;*/
	width: 100%;
/*	justify-content: space-between;*/
	justify-content: center;
	align-items: top;
/*	background-color: #262626;*/
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;

}


.container{
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 0 40px;
}

.fta-logo img{
	height: 100%;
	width: auto;
/*max-height: 65px;*/

/*	margin-top: 1em;*/
}

.fta-logo{
/*	max-width: clamp(40px, 100%, 65px);*/
	max-height: clamp(30px, calc(0.9rem + 7.5vw), 80px);
	display: flex;
	align-items: top;
/*	justify-content: center;*/
	color: inherit;
	text-decoration: none;
/*	min-height: 130px;	*/

}

.logo-text{
	padding-left: 0.25em;
	width: 100%;
}

.tit1{
	top: 0;
	margin: 3px;
/*	line-height: 34px;*/
	font-family: Raleway, sans-serif;
/*	font-size: clamp(15px, 6.3vw, 45px);*/
	font-size: clamp(0.5rem, calc(0.5rem + 3.5vw), 3rem);
	font-weight: bold;
/*	text-align: center;*/
}

.tit2{
	display: flex;
	font-family: Raleway, sans-serif;
	font-size: clamp(0.2rem, calc(0.2rem + 2.3vw), 1rem);
/*	font-size: 0.9em;*/
	margin-left: clamp(0rem, calc(0.5rem + 6vw), 10rem);
/*	text-align: right;*/
/*	margin-left: 1.5rem;*/
	text-align: right;
	width: 100%;
}

.main-nav {
	display: none;
}

.main-nav ul{
	display: flex;
	padding-right: 2em;
	gap: 2rem;
	margin: 0;
  padding: 2em;
  list-style: none;
}

.main-nav a{
	color: inherit;
	text-decoration: none;
	font-family: Raleway, sans-serif;
/*	padding-left: 1.5rem;*/

}

.main-nav a:hover{
	color: #adadad;
}

.mnav-head {
	max-width: 200px;
}

.mobile-nav ul{
	display: flex;
/*  margin: 0.25;*/
	list-style: none;
	justify-content: space-between;
	gap: clamp(0.5rem, 1rem, 3rem);
	/* padding-left: clamp(10vw, 20vw, 40vw);
	padding-right: clamp(10vw, 20vw, 40vw); */
}

.mobile-nav a{
	color: inherit;
	text-decoration: none;
	font-family: Raleway, sans-serif;
/*	width: 100%;*/
	font-size: clamp(12px, 3vw, 17px);

}

.mobile-nav a:hover{
	color: #adadad;
}

.navbtn {
	display: flex;
	justify-content: space-around;
}

.main-container {
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	justify-content: center;
	height: 35vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}


@keyframes glow {
	0% {
	  text-shadow:  0 0 10px rgb(100, 100, 100);
	  scale: 2;
	  /* padding-top: 1vh; */
	}
	
	15% {
	  text-shadow: 2px 2px 10px rgb(150, 150, 150,1),
				   -2px -2px 10px rgba(150, 150, 150, 1);
	}
	30% {
	  text-shadow: 2px 2px 4px rgba(200, 200, 200, 0.7),
				   -2px -2px 4px rgba(200, 200, 200, .7);
	}
	60% {
	  text-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5),
				   -20px -20px 50px rgba(255, 255, 255, .5);
	  scale: 1;
	}
}

.main-text {
	/* width: 100%; */
	font-family: Raleway, sans-serif;
	font-style: italic;
	line-height: 1.03;
    font-size: clamp(1vw,calc(1.5rem + 2vw),8vw);
    letter-spacing: 0.01em;
    font-weight: 500;
	animation:  glow 5s none;
	/* padding-top: 14vh; */
}

.tit3 {
	text-align: center;
}

.Ver {
	display: flex;
	bottom: 0%;
	text-align: center;
	position: absolute;
	font-size: 11pt;
}


@media only screen and (min-width: 250px) {

	.fta-logo img{
		max-height: 40px;
/*		transform: scale(0.70,0.70);*/
	}

	.logo-text{
		max-height: 25px;
	}

  .main-nav {
  	display: none;
	}

}


@media only screen and (min-width: 361px) {

	.fta-logo img{
		max-height: 50px;
	}
}


@media only screen and (min-width: 408px) {

	.fta-logo img{
		max-height: 60px;
	}
}


@media only screen and (min-width: 600px) {
	.fta-logo img{
		max-height: 80px;
	}
		.mnav-head{
		padding-top: 1em;
	}
}

@media only screen and (min-width: 780px) {
	.tit1{
		display: flex;
	}

	.mnav-head{
		padding-top: 1.5em;
	}
}


@media only screen and (min-width: 813px) {

	.main-head{
		justify-content: space-between;
		display: inline-flex;
	}
	
	.fta-logo {
		max-height: 90px;
	}

	.logo-text{
		padding-left: 1em;
	}

	.tit1{
		display: flex;
	}

	.tit2{
		display: flex;
/*		margin-left: 39%;*/
		/* margin-left: 5.75em; */
	}

	.main-nav {
		display: flex;
/*		width: 100%;*/
	}

	.mnav-head {
		display: none;
	}
}



@media only screen and (min-width: 1281px) {

	.tit1{
		display: flex;
	}

	.tit2{
		display: flex;
	}
}


